# Ignore Pipenv files
backend/Pipfile
backend/Pipfile.lock
frontend/package-lock.json



# Ignore Python dependencies (if using virtualenv, venv, or similar)
# Adjust this line based on the folder where the dependencies are stored.

/venv